{% include "head.html" %}

<body class="d-flex flex-column h-100vh">
   
    <!-- navbar -->
    {% include "navbar.html" %}
    
    <!-- Recently added users table -->
    <div class="container">
        <div class="row" style="padding: 20px 0;">
            <div class="col-12">
                <div class="card shadow-sm">

                    <div class="card-header bg_custom text-white fw-semibold d-flex align-items-center justify-content-between flex-wrap" style=" height: 55px;">
                        <h5 class="p-2 text-white title"><i class="bi bi-person-lines-fill"></i> Activity Log</h5>
                    </div>

                    <div class="card-body mt-1 bg-white">
                        <div id="activity-log-table" class="table table-sm tabulator"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {% include "footer.html" %}

    <script>

        var table = new Tabulator('#activity-log-table', {
            height: "430px",
            printAsHtml: true,
            headerFilterPlaceholder: "Search",
            layout: 'fitDataStretch',
            placeholder: 'No Data Found',
            ajaxURL: '/get_activity_log_data',
            pagination: 'remote',
            paginationButtonCount: 5,
            paginationSize: 20,
            ajaxSorting: true,
            ajaxFiltering: true,
            ajaxLoader: true,
            ajaxLoaderLoading: 'Fetching data from Database..',
            paginationSizeSelector: [50, 100, 500, 1000, 2000],
            columns: [
                {title: "Date & Time", field: "datetime",
                    headerFilterPlaceholder: "Search",
                    headerFilter: "input",
                    headerFilterFunc: "like",
                    headerFilterParams: {
                        allowEmpty: true
                    },
                    headerFilterLiveFilter: false,
                    formatter: 'textarea',
                    vertAlign: 'middle',
                    minWidth: 200},
                {title: "Name", field: "name",
                    headerFilterPlaceholder: "Search",
                    headerFilter: "input",
                    headerFilterFunc: "like",
                    headerFilterParams: {
                        allowEmpty: true
                    },
                    headerFilterLiveFilter: false,
                    formatter: 'textarea',
                    vertAlign: 'middle',
                    minWidth: 200},
                {title: "ACTION", field: "action", 
                    headerFilterPlaceholder: "Search",
                    headerFilter: "input",
                    headerFilterFunc: "like",
                    headerFilterParams: {
                        allowEmpty: true
                    },
                    headerFilterLiveFilter: false,
                    formatter: 'textarea',
                    vertAlign: 'middle',
                        minWidth: 400},
            ],
            ajaxResponse: function (url, params, response) {
                return response.data
            },
        });
       
    </script>
 
</body>
</html>