<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>

<body class="d-flex flex-column h-100vh" style="background-color: #f5f8fe;">
   
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow p-2">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{{ url_for('static', filename='img/e_monitoring_logo') }}" alt="" width="55" height="55" class="d-inline-block align-text-top p-1">
                <span class="navbar-brand mb-0 h1 p-1"><b>E-Monitoring</b></span>
            </a>
            <button class="navbar-toggler collapsed btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}"><i class='bx bx-home'></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('time_log') }}"><i class='bx bx-time'></i> Time Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-primary" href="#" id="faceRegisterBtn"><i class='bx bx-user' ></i> Face Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Recently added users table -->
    <div class="container">
        <div class="row" style="padding: 20px;">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white fw-semibold d-flex align-items-center justify-content-between flex-wrap" style=" height: 60px;">
                        <h4 class="p-2 text-white"><i class='bx bx-user' ></i> <b>Recently Added Users</b></h4>
                        <button type="button" class="btn btn-outline-light btn-sm" id="register_user" data-bs-toggle="modal" data-bs-target="#register_user_modal"><i class='bx bx-scan'></i> Register Face</button>
                    </div>
                    <div class="card-body mt-1 bg-white">
                        <div id="recently-added-table" class="table table-sm tabulator"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="register_user_modal" aria-hidden="true" aria-labelledby="registerUserModalLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="faceRegisterModalLabel"><i class='bx bx-user' ></i> Register Face</h5>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form class="form" method="post" action="{{ url_for('addprsn_submit') }}">
                    <div class="modal-body">
                        
                        <!-- <input type="text" name="txtnbr" class="selectize" placeholder=" " maxlength="10" required><br> -->
                        
                        <div class="form__div">
                            <input type="text" name="txtnbr" class="form__input" placeholder=" " maxlength="10" required>
                            <label for="txtnbr" class="form__label"><i class='bx bxs-id-card'></i>  ID no</label>
                        </div>
                        <div class="form__div">
                            <input type="text" name="txtname" class="form__input" placeholder=" " required>
                            <label for="txtname" class="form__label"><i class='bx bxs-id-card'></i>  Name</label>
                        </div>

                    </div>
                
                    <!-- Modal footer... -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
                        <!-- <input type="submit" class="btn btn-primary" id="submitPasswordBtn" value="Register"> -->
                        <button type="submit" class="btn btn-primary" id="registerUserBtn">Register</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- generate dataset modal -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="faceRegisterModalLabel"><i class='bx bx-user' ></i> Generating Dataset...</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Generating Dataset {{ prs }}</h3>
                <div class="card mx-auto" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <img src="{{ url_for('vidfeed_dataset', nbr=prs) }}" class="mx-auto" style="width: 13rem; height: 13rem;">
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="{{ url_for('train_classifier', nbr=prs) }}"> Train Dataset </a>
            </div>
          </div>
        </div>
    </div>

    <!-- footer -->
    {% include "footer.html" %}

    <script>
        // Initialize Selectize on inputs with the 'selectize' class
        $('.selectize').selectize({
            valueField: 'value',
            labelField: 'text',
            searchField: 'text',
            options: [], // Options will be loaded dynamically
            create: false
        });

        // Fetch data from the Flask route and populate the Selectize options
        $.ajax({
            type: 'GET',
            url: '/get_enrolled_users_data', // Update with the correct Flask route
            dataType: 'json',
            success: function(data) {
                // Add the data to the Selectize options
                var selectize = $('.selectize')[0].selectize;
                selectize.clearOptions();
                selectize.addOption(data);
            },
            error: function(error) {
                console.log('Error fetching data:', error);
            }
        });
    </script>

    <script>

        var datetime = '{{current_datetime}}'
        var global_date = '{{ initial_date_range }}';
        var set_server_time = '{{current_datetime}}'
        var serverOffset = moment(set_server_time).diff(new Date());
        var now_server = moment();
        now_server.add(serverOffset, 'milliseconds');
        var dateLimit = now_server.format('MM-DD-YYYY');

        var startDate = moment('{{current_date}}', 'MM-DD-YYYY');
        var endDate = moment('{{current_date}}', 'MM-DD-YYYY');

        var table = new Tabulator('#recently-added-table', {
            height: "350px",
            printAsHtml: true,
            headerFilterPlaceholder: "Search",
            layout: 'fitDataStretch',
            placeholder: 'No Data Found',
            ajaxURL: '/get_recently_added_users_data',
            ajaxParams: {
                table: 'master_schedule',
                status: global_date
            },
            pagination: 'remote',
            paginationButtonCount: 5,
            paginationSize: 20,
            ajaxSorting: true,
            ajaxFiltering: true,
            ajaxLoader: true,
            ajaxLoaderLoading: 'Fetching data from Database..',
            paginationSizeSelector: [50, 100, 500, 1000, 2000],
            columns: [
                {title: "ID No.", field: "id_no",
                    headerFilterPlaceholder: "Search ID No.",
                    headerFilter: "input",
                    headerFilterFunc: "like",
                    headerFilterParams: {
                        allowEmpty: true
                    },
                    headerFilterLiveFilter: false,
                    formatter: 'textarea',
                    vertAlign: 'middle',
                    minWidth: 330},
                {title: "Name", field: "name",
                    headerFilterPlaceholder: "Search Name",
                    headerFilter: "input",
                    headerFilterFunc: "like",
                    headerFilterParams: {
                        allowEmpty: true
                    },
                    headerFilterLiveFilter: false,
                    formatter: 'textarea',
                    vertAlign: 'middle',
                    minWidth: 330},
                {title: "Time Added", field: "time_added", 
                    headerFilterPlaceholder: "Search Time Added",
                    headerFilter: "input",
                    headerFilterFunc: "like",
                    headerFilterParams: {
                        allowEmpty: true
                    },
                    headerFilterLiveFilter: false,
                    formatter: 'textarea',
                    vertAlign: 'middle',
                        minWidth: 330},
            ],
            ajaxResponse: function (url, params, response) {
                return response.data
            },
        });
        document.addEventListener('DOMContentLoaded', function () {
            // Get the "Register" button, the ID input, and the first modal
            var registerBtn = document.getElementById('registerUserBtn');
            var idInput = document.getElementById('idNoInput');
            var firstModal = new bootstrap.Modal(document.getElementById('register_user_modal'));

            // Add a click event listener to the "Register" button
            registerBtn.addEventListener('click', function () {
                // Check if there is a value in the ID input
                if (idInput.value.trim() !== '') {
                    // Show the second modal
                    var secondModal = new bootstrap.Modal(document.getElementById('exampleModalToggle2'));
                    secondModal.show();
                } else {
                    // Alert the user and prevent the second modal from showing
                    alert('Please enter an ID number before registering.');
                }
            });
        });
    </script>
    
</body>
</html>