<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body class="d-flex flex-column h-100vh" style="background-color: #f5f8fe;">
    <!-- time Log Table -->
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row" style="padding: 20px;">
            <div class="col-12" style="width: 500px;">
                <div class="card shadow-sm rounded-3" >
                    <div class="card-header bg-primary text-white fw-semibold d-flex align-items-center justify-content-between flex-wrap" style=" height: 60px;">
                        <h4 class="p-2 text-white"><i class='bx bx-lock-alt'></i> <b>Enter Password</b></h4>
                        
                    </div>
                    <div class="card-body mt-1 bg-white">
                        <form id="passwordForm" action="/validate_password" method="POST">
                            <div class="modal-body">
            
                                <div class="form__div">
                                    <input type="password" name="password" class="form__input" id="password" placeholder=" " required>
                                    <label for="password" class="form__label"><i class='bx bx-lock-alt'></i>  Password</label>
                                </div>
            
                                <p id="attemptsCount">Attempts: <span id="attemptCount">{{ session['attempt_count'] }}</span></p>
                                
                                <button type="" class="btn btn-secondary" onclick="history.back()">Back</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <script>
    $(document).ready(function(){

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
        
        $("#showPasswordModal").click(function(){
            $("#passwordModal").modal('show');
        });

        $("#passwordForm").submit(function(event){
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: formData,
                success: function(response){
                    if (response.success) {
                        // If Password is correct, show success toast message with timer then redirect to face register page
                        toastMixin.fire({
                            animation: true,
                            title: 'Success! Redirecting to Face Register Page...'
                        }).then(() => {
                            // Redirect to another page after the timer expires
                            window.location.href = "{{ url_for('face_register') }}";
                        });
                    } else {
                        // Password is incorrect or locked out
                        if (response.lockout) {
                            Swal.fire("Error!", response.message, "error");
                            $("#showPasswordModal").prop('disabled', true);
                            setTimeout(function(){
                                $("#showPasswordModal").prop('disabled', false);
                            }, response.lockout_time);
                        } else {
                            Swal.fire("Error!", response.message, "error");
                        }

                        // Update the attempt count
                        $("#attemptCount").text(response.attempts);
                    }
                }
            });
        });
    });

</script>

</body>
</html>