<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body >
    <nav>
			
        <div class="logocontainer">
          <!-- <img src="img/logo.png" class="logopic" alt=""> -->
          <i class='scanner bx bx-scan'></i>
          E-<strong>Monitoring</strong>
        </div>
        <input id="nav-toggle" type="checkbox">
      
        <!-- nav links -->
        <ul class="links">
          <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('time_log') }}">Time Log</a></li>
          <!-- <li><a href="{{ url_for('face_register') }}">Face Register</a></li> -->
          <li><a href="{{ url_for('addprsn') }}">Face Register</a></li>
          <li><a href="{{ url_for('face_register_password') }}">Face Register form</a></li>
        </ul>
      
        <!-- burger icon -->
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      
        <!-- search icon -->
              <!-- <div class="search-box">
                <input class="search-txt" type="text" name="" placeholder="Type to search">
                <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
            </div> -->
      
        <!-- <a href="">button</a> -->
      
    </nav>
    
    <div class="container">
        <div class="video_feed_time_container" >
            <div class="video-frame">
                <img  class="video-frame" src="{{ url_for('video_feed') }}" width="640" height="480">
            </div>

            <div class="time_container">
                <div class="center">
                    <!-- <i class='clock bx bx-time'></i> -->
                    <div class="geometric_shape">
                        <img src="{{ url_for('static', filename='img/clock.svg') }}" width="200" alt="">
                    </div>

                    <h1 class="time" id="nowTime">{{ current_time }}</h1>
                    <h1 class="date" id="nowDate">{{ current_date }}</h1>
                    
                    <br>
                    <div class="flex">
                        <label for="selected_date">Select Building: </label>
                        <select class="form-control" name="optskill" id="optskill">
                            <option value="Building 1">Building 1</option>
                            <option value="Building 2">Building 2</option>
                            <option value="Building 3">Building 3</option>
                        </select>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

    <footer>© 2023 - 2024 City College of Calamba</footer>

{% if last_recognized_face %}
    <div class="success-message">
        <i class='check bx bx-check-circle'></i>
        <h2 class="form__title" >Success!</h2>
        <p class="message">Time in Successfull!</p>
        <p>{{last_recognized_face[1]}}</p>
        <p>{{last_recognized_face[2]}}</p>
        <p>{{last_recognized_face[3]}}</p>
        <button class="btn" onclick="dismissMessage()">Dismiss</button>
    </div>
{% endif %}

<!-- <script>
    function dismissMessage() {
        document.querySelector('.success-message').style.display = 'none';
    }
</script> -->

<script>

     // Function to automatically dismiss the success message after 1 second
     function dismissMessage() {
        var successMessage = document.querySelector('.success-message');
        if (successMessage) {
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 3000); // Dismiss after 1 second (1000 milliseconds)
        }
    }

    // Automatically trigger the dismissMessage function on page load
    window.onload = function() {
        dismissMessage();
    }

    // set server time using moment.js library
    var set_server_time = '{{ current_time }}';
    var serverOffset = moment(set_server_time).diff(new Date());
    clearInterval(clock_id);
    var date_now_server = moment();
    date_now_server.add(serverOffset, 'milliseconds');
    var dateNow = date_now_server.format('dddd | MMMM DD, YYYY');

    // Set time and date
    var clock_id = setInterval(function() {
        if (document.getElementById('nowTime')) {
            $('#nowDate').html(dateNow);
            var now_server = moment();
            now_server.add(serverOffset, 'milliseconds');
            var timeNow = now_server.format('hh:mm:ss A');
            $('#nowTime').html(timeNow);
        } else {
            clearInterval(clock_id);
        }
    }, 1000);

    $(document).ready(function() {
        let lastcnt = 0;
        let cnt;
        chkNewScan();
 
        function chkNewScan() {
            countTodayScan();
            setTimeout(chkNewScan, 1000);
        }
 
        function countTodayScan() {
            $.ajax({
                url: '/countTodayScan',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    cnt = data.rowcount;
                    if (cnt > lastcnt) {
                        reloadTable();
                    }
 
                    lastcnt = cnt;
                },
                error: function(result){
                    console.log('no result!')
                }
            })
        }
 
        function reloadTable() {
            $.ajax({
                url: '/loadData',
                type: 'GET',
                dataType: 'json',
                success: function(response){
                    var tr = $("#scandata");
                    tr.empty();
 
                    $.each(response, function(index, item) {
                        if (item.length > 0) {
                            for (let i = 0; i < item.length; i++) {
                                tr.append('<tr>'+
                                                '<td>'+item[i][1]+'</td>'+
                                                '<td>'+item[i][2]+'</td>'+
                                                '<td>'+item[i][3]+'</td>'+
                                                '<td>'+item[i][4]+'</td>'+
                                           '</tr>');
                            }
                        }
                    });
                },
                error: function(result){
                    console.log('no result!')
                }
            });
        }
    });

</script>
 
</body>
</html>
