<!-- <nav class="navbar navbar-expand-lg py-2 navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand">
         
          <img src="{{ url_for('static', filename='img/logo.png') }}" width="45" alt="" class="d-inline-block align-middle mr-2">
        
          <span class="font-weight-bold">Flask OpenCV Face Recognition</span>
        </a>
    </div>
</nav> -->

<!-- <header>
  <span class="logo_container">
      <img class="logo" src="" alt="logo">
      <i class='scanner bx bx-scan'></i>
      <span class="logo_title">E-Monitoring</span>
  </span>
  <nav>
      <ul class="nav_links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('time_log') }}">Time Log</a></li>
          <li><a href="{{ url_for('face_register') }}">Face Register</a></li>
      </ul>
  </nav>
  <a href="">button</a>

 

</header> -->


<nav>
			
  <div class="logocontainer">
    <!-- <img src="img/logo.png" class="logopic" alt=""> -->
    <i class='scanner bx bx-scan'></i>
    E-<strong>Monitoring</strong>
  </div>
  <input id="nav-toggle" type="checkbox">

  <!-- nav links -->
  <ul class="links">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('time_log') }}">Time Log</a></li>
    <!-- <li><a href="{{ url_for('face_register') }}">Face Register</a></li> -->
    <li><a href="{{ url_for('addprsn') }}">Face Register</a></li>
  </ul>

  <!-- burger icon -->
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>

  <!-- search icon -->
        <!-- <div class="search-box">
          <input class="search-txt" type="text" name="" placeholder="Type to search">
          <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
      </div> -->

  <!-- <a href="">button</a> -->

</nav>