<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-style.css') }}" type="text/css">
    <title>Password Form</title>
</head>
<body>
    <div class="container">
        <div class="video_feed_time_container">
    
            <form class="form" method="post">
                <h2>Enter Password</h2><br>
                <div class="form__div">
                    <input type="password" name="password" class="form__input" placeholder=" " required>
                    <label for="password" class="form__label"><i class='bx bxs-id-card'></i>  Password</label>
                </div>
    
                <input type="submit" class="mybutton" value="Submit">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
    
            </form>
            
        </div>
    </div>
    
</body>
</html>
