<!-- password modal for face register -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow">
            <div  class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="passwordModalLabel"><i class='bx bx-lock-alt'></i> Enter Password</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="passwordForm" action="/validate_password" method="POST">
                <div class="modal-body">

                    <div class="form__div">
                        <input type="password" name="password" class="form__input" id="password" placeholder=" " required>
                        <label for="password" class="form__label"><i class='bx bx-lock-alt'></i>  Password</label>
                    </div>

                    <p id="attemptsCount">Attempts: <span id="attemptCount">{{ session['attempt_count'] }}</span></p>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#showPasswordModal").click(function(){
            $("#passwordModal").modal('show');
        });

        $("#passwordForm").submit(function(event){
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: formData,
                success: function(response){
                    if (response.success) {
                        // Password is correct, show success message with timer
                        Swal.fire({
                            title: "Success!",
                            text: "Password is correct! Redirecting to Face Register Page...",
                            icon: "success",
                            timer: 1000, // Display the success message for 3 seconds
                            timerProgressBar: true,
                            showConfirmButton: false // Disable the "OK" button
                        }).then(() => {
                            // Redirect to another page after the timer expires
                            window.location.href = "{{ url_for('face_register') }}";
                        });
                    } else {
                        // Password is incorrect or locked out
                        if (response.lockout) {
                            Swal.fire("Error!", response.message, "error");
                            $("#showPasswordModal").prop('disabled', true);
                            setTimeout(function(){
                                $("#showPasswordModal").prop('disabled', false);
                            }, response.lockout_time);
                        } else {
                            Swal.fire("Error!", response.message, "error");
                        }

                        // Update the attempt count
                        $("#attemptCount").text(response.attempts);
                    }
                }
            });
        });
    });

</script>