{% include "head.html" %}

<body class="d-flex flex-column h-100vh">
   
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm p-2 p-2 pe-5 ps-5">
        <div class="container-fluid">

            <!-- navbar logo and toggler -->
         

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-house-door"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href=""><i class="bi bi-clock"></i> Time Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id="faceRegisterBtn"><i class="bi bi-person-bounding-box"></i> Face Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link d-flex align-items-center pe-0" href="#" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <span class="d-none d-md-block dropdown-toggle ps-2"><i class="bi bi-person"></i> Account</span>
                        </a>
                
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="width: 230px;" aria-labelledby="dropdownMenuClickableInside">
                            <!-- <li class="dropdown-header mt-3">
                                <h6 class="text-center"><b>{{username}}</b></h6>
                                <p class="text-center">{{position}}</p>
                                <p class="text-center">{{fullname}}</p>
                            </li>
                            
                            
                            <li>
                                <hr class="dropdown-divider">
                            </li> -->
                            
                            <li>
                                <form id="logout_form" action="{{ url_for('logout') }}" method="post">
                                    <button type="submit" class="dropdown-item d-flex align-items-center" id="logoutSubmit" name="logoutSubmit" value="submitLogout">
                                        <span><i class="bi bi-box-arrow-left"></i> Sign Out</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <p>{{user_id}}</p>
    <!-- <p>{{position}}</p>
    <p>{{general_id}}</p> -->
    <p>{{fullname}}</p>
    <p>{{role_id}}</p>
    <!-- <p>{{ref_id}}</p> -->
    <p>{{device}}</p>
    <p>{{system_token}}</p>
    <p>{{token_id}}</p>
    <p>{{exp}}</p>
    <!-- <p>{{general_id}}</p> -->

 
</body>
</html>