<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    <nav>
			
        <div class="logocontainer">
          <!-- <img src="img/logo.png" class="logopic" alt=""> -->
          <i class='scanner bx bx-scan'></i>
          E-<strong>Monitoring</strong>
        </div>
        <input id="nav-toggle" type="checkbox">
      
        <!-- nav links -->
        <ul class="links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a class="active" href="{{ url_for('time_log') }}">Time Log</a></li>
          <li><a href="{{ url_for('face_register') }}">Face Register</a></li>
          <li><a href="{{ url_for('addprsn') }}">Face Register</a></li>
        </ul>
      
        <!-- burger icon -->
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      
        <!-- search icon -->
              <!-- <div class="search-box">
                <input class="search-txt" type="text" name="" placeholder="Type to search">
                <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
            </div> -->
      
        <!-- <a href="">button</a> -->
      
    </nav>

    <div class="container">
        {% if no_data %}
        <div class="alert alert-warning" role="alert">
            No attendance data available for the selected date.
        </div>
        {% endif %}
        <div class="table_container">
            <h2>Today Scan</h2><br>
            <table class="table" >
                <thead>
                    <tr>
                        <th>ID number</th>
                        <th>Name</th>
                        <th>Building</th>
                        <!-- <th>Date</th> -->
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody id="scandata">
 
                </tbody>
            </table>
        </div>
    </div>

    <div class="container" >
        <div class="row" style="padding:40px 100px;">
            <div class="timelog_table_container">
                <h2><i class='scanner bx bx-time'></i> Today Scan</h2><br>
                <table id='empTable' class='cell-border hover dataTable' width='100%' >
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID No.</th>
                        <th>Building</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                     
                </table><br>
                
                <div>
                    <button class="timelog_btn">Download CSV</button>
                    <button class="timelog_btn">Download XLSX</button>
                    <button class="timelog_btn">Print</button>
                </div>
            </div>
            
       </div>
    </div>

    <footer>© 2023 - 2024 City College of Calamba</footer>

    <!-- <script>
        $(document).ready(function() {
         
          
            var empDataTable = $('#empTable').DataTable({
                        'processing': true,
                        'serverSide': true,
                        'serverMethod': 'post',
                        'ajax': {
                            'url':'/loadData'
                        },
                        'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        searching: true,
                        sort: false,
                        "serverSide": true,
                        'columns': [
                            { data: 'name' },
                            { data: 'year_and_section' },
                            { data: 'user_type' },
                            { data: 'user_name' },
                        ]
                    });
         
        });
    </script> -->

    <script type="text/javascript">
        $(document).ready(function() {
            let lastcnt = 0;
            let cnt;
            chkNewScan();
     
            function chkNewScan() {
                countTodayScan();
                setTimeout(chkNewScan, 1000);
            }
     
            function countTodayScan() {
                $.ajax({
                    url: '/countTodayScan',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        cnt = data.rowcount;
                        if (cnt > lastcnt) {
                            reloadTable();
                        }
     
                        lastcnt = cnt;
                    },
                    error: function(result){
                        console.log('no result!')
                    }
                })
            }
     
            function reloadTable() {
                $.ajax({
                    url: '/loadData',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response){
                        var tr = $("#scandata");
                        tr.empty();
     
                        $.each(response, function(index, item) {
                            if (item.length > 0) {
                                for (let i = 0; i < item.length; i++) {
                                    tr.append('<tr>'+
                                                    '<td>'+item[i][1]+'</td>'+
                                                    '<td>'+item[i][2]+'</td>'+
                                                    '<td>'+item[i][3]+'</td>'+
                                                    // '<td></td>'+
                                                    '<td>'+item[i][4]+'</td>'+
                                               '</tr>');
                                }
                            }
                        });
                    },
                    error: function(result){
                        console.log('no result!')
                    }
                });
            }
        });
    </script>
    
</body>
</html>