<!doctype html>
<html>

<head>
    <title>Time Log</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />     -->
    <!-- <link href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.css') }}" type="text/css"> -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script> -->


    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <link href='https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css' rel='stylesheet'
        type='text/css'>
    <!-- <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script> -->


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>


</head>

<body class="bg-custom">

    <nav>

        <div class="logocontainer">
            <!-- <img src="img/logo.png" class="logopic" alt=""> -->
            <i class='scanner bx bx-scan'></i>
            E-<strong>Monitoring</strong>
        </div>
        <input id="nav-toggle" type="checkbox">

        <!-- nav links -->
        <ul class="links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a class="active" href="{{ url_for('time_log') }}">Time Log</a></li>
            <li><a href="{{ url_for('face_register') }}">Face Register</a></li>
        </ul>

        <!-- burger icon -->
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>

        <!-- search icon -->
        <!-- <div class="search-box">
                <input class="search-txt" type="text" name="" placeholder="Type to search">
                <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
            </div> -->

        <!-- <a href="">button</a> -->

    </nav>

    <!-- <div class="container" >
    <div class="row" style="padding:40px 100px;">
        <div class="timelog_table_container">
            <h2><i class='scanner bx bx-time'></i> Today Scan</h2><br>
            <table id='empTable' class='cell-border hover table-bordered' width='100%' >
                <thead>
                <tr>
                    <th>Name</th>
                    <th>ID No.</th>
                    <th>Buidling Name</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
                </thead>
                 
            </table><br>

            <div>
                <button class="timelog_btn">Download CSV</button>
                <button class="timelog_btn">Download XLSX</button>
                <button class="timelog_btn">Print</button>
            </div>
        </div>
        
   </div>
</div> -->


    <div class="container">
        <div class="row" style="padding:20px;">
            <div class="col-12">
                <div class="data_table">
                    <h3><i class='scanner bx bx-time'></i> Today Scan</h3>
                    <table id="empTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Name</th>
                                <!-- <th>ID No.</th> -->
                                <th>Buidling Name</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- <footer>© 2023 - 2024 City College of Calamba</footer> -->

    <script>

        var empDataTable = $('#empTable').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url':'/ajaxfile'
            },
            'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            searching: true,
            sort: true,
            responsive: true,
            "serverSide": true,
            'columns': [
                { data: 'date' },
                { data: 'time' },
                { data: 'name' },
                // { data: 'id_no' },
                { data: 'building_name' },

            ],
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'csvHtml5',
                'print'
                ],
            // "paging":false,
            // "scrollX": true,
            // "scrollY": "200px",
        });

    </script>
</body>

</html>